# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Subway-Like Game - Vidosen.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\projects\GitHub\Subway-Like Game - Vidosen\.idea\.idea.Subway-Like Game - Vidosen\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
